<!DOCTYPE html>
<html>
  <head>
    <title> Test App coba2 </title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      Kalo mau bikin app ya google <a href="http://google.com/">gugel </a>
    </p>
  </body>
</html>

